html,
body {
	background-color: #1E1E1E;
	overflow: hidden;
	height: 100%;
	width: 100%;
}

.header-bar {
	background-color: #333333;
	color: #B1B1B1;
}

.footer-bar {
	background-color: #007ACC;
	color: #B1B1B1;
	height: 25px;
}

.tab-bar {
	background-color: #252526;
	height: 50px;
}

.mini-bar {
	background-color: #007ACC;
	color: #ffffff;
	height: 50px;
}

.entry-bar {
	background-color: #383838;
	color: #ffffff;
	height: 30px;
}

.nav-item {
	background-color: #2D2D2D;
	color: #919191;
}

.main {
	height: 100%;
}

.wrapper {
	height: calc(100% - 85px);
}

.left {
	width: 20%;
	min-width: 200px;
}

.mid {
	width: 60%;
}

.mid-content{
	width: 100%;
	height: calc(100% - 50px);
	overflow: auto;
	background-color: #000000;
	color: #ffffff;
}

.right {
	width: 20%;
	min-width: 200px;
}

#scene-entries {
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	padding-left: 26px;
}

#entity-entries {
	height: 50%;
	overflow-x: hidden;
	overflow-y: scroll;
	padding-left: 26px;
}

#component-entries {
	height: 35%;
	overflow-x: hidden;
	overflow-y: scroll;
	padding-left: 26px;
}

.list-group-item {
	background-color: #383838;
	color: #ffffff;
	width: 100%;
}